<style>
  nav {
    display: flex;
    gap: 1rem;
    background-color: #1976d2;
    padding: 1rem;
  }

  nav a.active {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
  }
</style>

<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contador</a
  >
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragoball']" routerLinkActive="active">Dragoball</a>
  <a routerLink='/dragoball-super' routerLinkActive="active">Dragoball Super</a>
</nav>
